<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="page.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
      <title>Document</title>
   </head>
   <body>
      <script>
         $(document).ready(function(){
             $('.toggle').click(function(){
                 $('ul').toggleClass("active");
             })
         })
      </script>
      <nav>
         <img src="logo.png" alt="">
         <a class="toggle">&#9776;</a>
         <ul >
            <li><a href="#">Demos</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li class="acc"><a href="#">
               <i class="fa fa-user acc" aria-hidden="true"> My Account</i>
               </a>
            </li>
         </ul>
      </nav>
      <div class="mid">
         <br><br><br><br><br><br><br>
         <h3>Evelynn + Egret Admin</h3>
         <h1>Your complete Angular App Development kit</h1>
         <p>Egret implements the official Angular Material Design components and built with Angular <br> CLI. No Bootstrap!, No jQuery! and Only TypeScript!</p>
         <button>
         <i class="fa fa-cart-plus" aria-hidden="true"> BUY EGRET</i>
         </button><br><br><br><br><br>
         <img src="egret-screen.png" alt="img">
      </div>
      <div class="main">
         <div class="wrk">
            <h1>Our Work</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Ullam culpa minus unde neque.</p>
         </div>
         <br><br>
         <div class="card">
            <div class="card1">
               <img src="sq-13.jpg" alt="">
               <div class="desp">
                  <h3>Project One</h3>
                  <p>Lorem ipsum dolor sit amet <br>adipisicing elit. Sequi ratione vero<br>veniam molestias</p>
                  <hr>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paperclip" aria-hidden="true"></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>
               </div>
            </div>
            <div class="card1">
               <img src="sq-15.jpg" alt="">
               <div class="desp">
                  <h3>Project One</h3>
                  <p>Lorem ipsum dolor sit amet <br>adipisicing elit. Sequi ratione vero<br>veniam molestias</p>
                  <hr>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paperclip" aria-hidden="true"></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>
               </div>
            </div>
            <div class="card1">
               <img src="sq-16.jpg" alt="">
               <div class="desp">
                  <h3>Project One</h3>
                  <p>Lorem ipsum dolor sit amet <br>adipisicing elit. Sequi ratione vero<br>veniam molestias</p>
                  <hr>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paperclip" aria-hidden="true"></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>
               </div>
            </div>
         </div>
         <br><br>
         <div style="margin:auto;width:100%;text-align:center">
            <i class="material-icons" style="color: gray;font-size: 18px">&#xe061;</i>	
            <i class="material-icons" style="color: gray; font-size: 22px">&#xe061;</i>
            <i class="material-icons" style="color: gray;font-size: 18px">&#xe061;</i>    
            <br><br><br>
         </div>
         <br><br>
      </div>
      <div class="main1">
         <br><br><br>
         <div class="wrk">
            <h1>What our customers says</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore <br>molestias ab adipisci eius nisi placeat at.</p>
         </div>
         <br><br>
         <div class="card">
            <div class="card1">
               <img src="mock-logo-4.png" alt="">
               <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind DevEgret and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ” </p>
               <p></p>
               <br><br>
               <div class="face">
                  <img src="face-1.jpg" alt="">
                  <div>
                     <p>
                        &nbsp;&nbsp;<span style="font-size: 15px; font-weight:bold;color:gray">Sonam Chophel</span> <br>
                        &nbsp;&nbsp;Product Manager
                     </p>
                  </div>
               </div>
            </div>
            <div class="card1">
               <img src="mock-logo-2.png" alt="#">
               <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius, atis magnam tempora doloribus ducimus dolorem culpa animi beatae tenetur! Sapiente, quia tempora."</p>
               <br><br>
               <div class="face">
                  <img src="face-2.jpg" alt="">
                  <div>
                     <p>
                        &nbsp;&nbsp;<span style="font-size: 15px; font-weight:bold;color:gray ">Birendra Bhujel</span> <br>
                        &nbsp;&nbsp;CEO
                     </p>
                  </div>
               </div>
            </div>
            <div class="card1">
               <img src="mock-logo-3.png" alt="">
               <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius, atis magnam tempora doloribus ducimus dolorem culpa animi beatae tenetur! Sapiente, quia tempora."</p>
               <br><br>
               <div class="face">
                  <img src="face-3.jpg" alt="">
                  <div>
                     <p>
                        &nbsp;&nbsp;<span style="font-size: 15px; font-weight:bold;color:gray ">Pema Thinley</span> <br>
                        &nbsp;&nbsp;Software Engineer
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <br><br><br>
      </div>
      <div class="main2">
         <div class="wrk">
            <H1>Our Services</H1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore <br>molestias ab adipisci eius nisi placeat at.</p>
         </div>
         <div class="card">
            <div class="card1">
               <br><br>
               <i class="fa fa-mobile" aria-hidden="true"></i><br><br><br>
               <p><span style="font-size: 20px;color:gray;font-family:Arial, Helvetica, sans-serif">Custom Mobile Appliaction</span><br><br><br>
                  Lorem ipsum, dolor sit amet consectetur  <br>
                  elit. Amet aut odit sed ipsa deleniti voluptate
               </p>
               <br><br>
               <input type="submit" value="READ MORE"><br><br>
            </div>
            <div class="card1">
               <br><br>
               <i class="fa fa-user" aria-hidden="true"></i><br><br><br>
               <p><span style="font-size: 20px;color:gray;font-family:Arial, Helvetica, sans-serif">Management Appliaction</span><br><br><br>
                  Lorem ipsum, dolor sit amet consectetur  <br>
                  elit. Amet aut odit sed ipsa deleniti voluptate
               </p>
               <br><br>
               <input type="submit" value="READ MORE"><br><br>
            </div>
            <div class="card1">
               <br><br>
               <i class="fa fa-th-large" aria-hidden="true"></i><br><br><br>
               <p><span style="font-size: 20px;color:gray;font-family:Arial, Helvetica, sans-serif">Business Appliaction</span><br><br><br>
                  Lorem ipsum, dolor sit amet consectetur  <br>
                  elit. Amet aut odit sed ipsa deleniti voluptate
               </p>
               <br><br>
               <input type="submit" value="READ MORE"><br><br>
            </div>
         </div>
      </div>
      <br><br><br>
      <div class="frame">
         <div class="sub_frame1">
            <br><br><br>
            <h2 style="font-size: 20px">Egret Is A Complete UI Framework For Angular</h2>
            <p style="font-size:15px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.            </p>
            <br><br><br>
         </div>
         <div class="sub_frame2"><br><br><br><br><br>
            <input type="submit" value=" BUY EGRET NOW ">
            <br><br><br>
         </div>
      </div>
      <div class="main1">
         <br><br><br>
         <form action="#">
            <h2>Send Us Email</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, error.</p>
            <input type="text" placeholder="Your Name"><br>
            <input type="text" placeholder="Your Email"><br>
            <input type="text" placeholder="Subject"><br>
            <textarea name="" id="" cols="30" rows="1"></textarea>
            <br><br>
            <div class="sent"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
         </form>
         <br><br>
      </div>
      <footer >
         <div class="foot">
            <div class="foot1">
               <br><br>
               <h2>Contact Us</h2>
               <hr>
               <br>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit. Officiis perferendis rem, aut aliquam.
               </p>
               <input type="submit" value="contact us">
            </div>
            <div class="foot2">
               <br><br>
               <h2>Contact</h2>
               <hr>
               <br><br>
               <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; bhujel@gmail.com <br><br><br>
               <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cybergrp Noida
            </div>
            <div class="foot3">
               <br><br>
               <h2>Disclaimer</h2>
               <hr>
               <br><br>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?
               </p>
               <br>
               &nbsp;&nbsp;<i class="fa fa-linkedin" aria-hidden="true"></i>
               &nbsp;&nbsp;<i class="fa fa-twitter" aria-hidden="true"></i>
               &nbsp;&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
         </div>
         <br><br><br>
      </footer>
   </body>
</html>