<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/show-test.css">
</head>

<body>
    <div class="row">
        <div class="col-md-8 test-detail">
            <div class="row heading">
                <div class="col-md-4">
                    <h5>TEST NAME</h5>
                </div>
                <div class="col-md-2">
                    <h5>TEST CODE</h5>
                </div>
                <div class="col-md-3">
                    <h5>TEST TIME</h5>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2"></div>
            </div>
            <!-- <div class="row content">
                <div class="col-md-4">
                    <p>DBMS end term examination</p>
                </div>
                <div class="col-md-2">
                    <p>DBMS#1201</p>
                </div>
                <div class="col-md-3">
                    <p>12-11-2019 11:30AM</p>
                </div>
                <div class="col-md-1"><button type="button" class="btn btn-outline-info">Edit</button></div>
                <div class="col-md-2"><button type="button" class="btn btn-outline-danger">Delete</button></div>
            </div>
            <div class="row content">
                <div class="col-md-4">
                    <p>DBMS end term examination</p>
                </div>
                <div class="col-md-2">
                    <p>DBMS#1201</p>
                </div>
                <div class="col-md-3">
                    <p>12-11-2019 11:30AM</p>
                </div>
                <div class="col-md-1"><button type="button" class="btn btn-outline-info">Edit</button></div>
                <div class="col-md-2"><button type="button" class="btn btn-outline-danger">Delete</button></div>
            </div> -->
        </div>
    </div>
    <div class="container" id="mainDiv">
    </div>
    <script src="../public/js/show-questions.js"></script>
    <script src="../public/js/show-test.js"></script>
</body>
</html>