<div class="col-md-2">
    <a href="#q1" id="index"></a>
</div>
<div class="col-md-10">
    <div class="row">
        <div class="question-div" id="q1">
            <h3>Question-1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis illum velit blanditiis
                unde
                placeat,
                numquam labore. Inventore incidunt sit ullam similique, molestiae sequi. Incidunt aliquam
                corporis,
                laborum minima qui itaque?</p>
            <ul>
                <li>option1</li>
                <li>option2</li>
                <li>option3</li>
                <li>option4</li>
            </ul>
            <div class="btn">
                <button type="button" class="btn btn-outline-info">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>