li {
    margin-left: 50px;
    font-weight: 500;
    }
    
    li:hover {
    background-color: #c4e3f3;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
    }
    
    a:hover {
    color: blue;
    }
    
    .nav-link:hover {
    color: blue;
    }
    /* .navbar-ligh .navbar-nav .nav-link {
    color: white;
    } */
    
    .form1{
text-align: center;
margin-top: 40px;
padding-top: 20px;

}
.addQuestion{
/* margin: auto; */
margin-left: 90px;
width: 500px;
height: 700px;
font-size: 1.5em;
padding: 15px;
border-top-width: 7px;
border-top-style: solid;
border-top-color: orange;
box-shadow:  0 0 10px  rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
label{
font-size: 18px;

}
.file-field{
margin-top: -300px;
height: 70px;
margin-right: 40px;
}
.choose{
    margin-top: -500px;
    margin-left: 60%;
    background-color: #c4e3f3;
    width: 30%;
}