body {
    margin: 0;
    padding: 0;
    background-color: #DAE0E6;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.test-detail {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

.heading {
    margin-top: 50px;
}

h2 {
    font-size: 3.5rem;
    margin-left: 7%;
    font-weight: 300;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h5 {
    font-weight: 350;
    text-align: center;
}

.exam-detail {
    margin-top: 4%;
    padding: 50px;
}

.heading {
    /* background-color:lightblue; */
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 5px solid rgba(0, 0, 255, 0.6);
    /* background-color: lightgrey; */
}

button {
    width: 100%;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#question-Index a {
    font-size: 16px;
    display: block;
    font-weight: 400;
}

.question-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 5px;
    padding: 30px 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.question-div h3 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.question-div p {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 200;
}

.question-div h6 {
    font-weight: 100;
    font-size: 16px;
    font-family: monospace;
}

ul {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 100;
    font-family: monospace;
}

.btn1 {
    display: flex;
    width: 20%;
    margin-top: 30px;
}

.btn1 button {
    margin-left: 10px;
}

.form1 {
    text-align: center;
    margin-top: 10px;
    /* padding: 20px; */
}

.addExamDetail {
    margin: auto;
    width: 40%;
    font-size: 1.5em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-width: 4px;
    border-top-style: solid;
    border-radius: 5px;
    border-top-color: rgba(76, 100, 235, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

label {
    font-size: 15px;
    font-weight: 100;
}