 body{
     overflow: hidden;
 }
 #node-server {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px 20px 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#dot-net-server{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px 20px 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


#dot-net-server img{
   width: 20px;
   height: 20px;
   position: relative;
   top: 0px;
}

.heading{
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 0;
}

.text{
    text-align: center;
    font-size: 24px;
}
.button-center{
    text-align: center;
    margin-top: 40px;
    
}
.button-center button{
    border-radius: 40px;
    font-weight: 500;
    margin-left: 10px;
}

p{
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;

}
.main{
    padding: 16px;
    padding-bottom: 86px;
    margin-top: 5%;
    background-color: aliceblue;
}
.footer{
    display: flex;

    background-color: #212121;
}
.g1{
    flex:40%;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}

.v{
    font-size: .875rem;
    margin-top: 20px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}
.footb{
    background-color: #ffc107;
    cursor: pointer;
    font-weight: 400!important;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 36px;
    min-width: 64px;
    border-radius: 4px;
    padding: 0 16px;
    margin-top: 20px;
    border: none;
}
.social-media i{
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    
    color: rgba(255,255,255,0.4);
}
.g2{
    flex: 27%;
    padding: 20px 20px;
}
span{
    display: block;
}
.v1{
   
    font-weight: 700;
    font-size: 1.25rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}