 .container {
        border: "1";
        align-content: center;
        padding: 10px;
        box-align:center;
        border-radius: 5px;
        top: 50px;
        margin-top: 150px;
        margin-left: 550px; 
        background-color: rgb(46, 41, 41);
}

.digits{
   background-color: antiquewhite;
   border-radius: 30px;
   text-align:center;
}

.Result{
    background-color: white;
    text-align:center;
    color: white;

}

.operations{
    background-color: brown;
    border-radius: 30px;
    text-align:center;
    color: aliceblue
}

.Answer{
    background-color: rgb(196, 192, 191);
}

.Display_result_area{
    width:200px;
}

.copyright{
    text-align: center;
}

.heading{
    text-align: center;
}