a:link, a:visited {
    background-color: rgb(44, 41, 41);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .search-button {
    border-color: #4CAF50;
    color: green;
  }

  .search-button:hover {
    background-color: #4CAF50;
    color: white;
  }
  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    left: 250px;
    align: center;
  }
.button{
    padding-left: 80px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
  .info {
      background-color: rgb(17, 70, 114);
    } /* Blue */

    .info:hover {
        background: #0b7dda;
    }

.header-home-tag{
    font-size: 13px;
}

.header-link-tag{
    font-size: 13px;
}

.header-disabled-tag{
    font-size: 13px;
}

.header-dropdown-tag{
    font-size: 13px;
}

.head{
    background-color:rgb(44, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
.welcome-message {
    display: inline;
    position: relative;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(44, 41, 41);
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
.search-container {
    float: right;
  }
.search-container button:hover {
    background: #ccc;
  }

.banner{
    max-width: 100%;
    
    background-color: rgb(197, 194, 194);
    height: 250px;
   
}
.banner-content{
    max-width: 80%;
    padding-left: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}



.container{
    align-content:  center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

.container div{
    max-width: 100%;
}

.first-column,.second-column,.third-column{   
    width: 30%;
    height: 50%;
  }

  p {
      max-width: 100%;
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
  }

 
