body{
    background-color: #14BDAC;
    overflow: hidden;
}

.heading{
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 20px;
}
.game-row{
    height: 100px;
    width: 300px;
    margin: 0 auto;
    display: flex;
}

.game-col{
    width: 100px;
    text-align: center;
}


.game-col input{
    position: relative;
    top: 25px;
}

input[type="button"]{
    border:none;
    padding: 15px 20px;
    font-size: 23px;
    border-radius: 35px;
    outline:none;
    cursor: pointer;
}

input[type="button"]:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(153,145,153,1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(153,145,153,1);
    box-shadow: 0px 0px 12px 2px rgba(153,145,153,1);
}

.border-right{
    border-right: 5px solid black;
}
.border-bottom{
    border-bottom: 5px solid black;
}

#winner_result{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 450px;
    left: 600px;
}

canvas{
    width: 296px;
    height: 296px;  
}

.container{
    position: relative;
    left: 500px;
}

.container canvas, .game-box{
    position: absolute;
}
.reset-button{
    position: relative;
    top: 450px;
    left: 600px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;
}