body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

li {
    margin-left: 20px;
    font-weight: 500;
}


/* li:hover {
    background-color: black;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
} */

a:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.logo {
    height: 42px;
}

.test-detail {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

.heading {
    margin-top: 50px;
}

h2 {
    font-size: 3.5rem;
    margin-left: 7%;
    font-weight: 300;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h5 {
    font-weight: 350;
    text-align: center;
}

.exam-detail {
    margin-top: 4%;
    padding: 50px;
}

.heading {
    /* background-color:lightblue; */
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    padding: 20px;
    padding-left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(0, 0, 255, 0.6);
    /* background-color: lightgrey; */
}

.content:hover {
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 6px solid rgba(0, 0, 255, 0.6);
    cursor: pointer;
}

button {
    width: 100%;
}
/* 
a:hover {
    color: blue;
    text-decoration: none;
} */

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.qrow{
    
}
.question-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 5px;
    padding: 30px 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
#question-Index{
    /* position: fixed; */
}
.qustion-index{
    margin: 5px;
    margin-bottom: 10px;
    background: lightblue;
    padding: 10px;
    border-radius: 50%;
}
.qustion-index a:hover{
    flood-color: white;
}
.question-div h3 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.question-div p {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.question-div h6 {
    font-weight: 100;
    font-size: 16px;
    font-family: monospace;
}

ul {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 100;
    font-family: monospace;
}

.btn1 {
    display: flex;
    width: 20%;
    margin-top: 30px;
}

.btn1 button {
    margin-left: 10px;
}

.form1 {
    text-align: center;
    margin-top: 10px;
    /* padding: 20px; */
}

.addExamDetail {
    margin: auto;
    width: 40%;
    font-size: 1.5em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-width: 4px;
    border-top-style: solid;
    border-radius: 5px;
    border-top-color: rgba(76, 100, 235, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.dropdown {
    position: relative;
    display: inline-block;
}

#span {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.9);
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 60%;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
}

label {
    font-size: 15px;
    font-weight: 100;
}

.question-div-pos {
    margin-top: 6%;
}

li {
    margin-left: 50px;
    font-weight: 500;
}
/* 
a:hover {
    color: blue;
} */

.nav-link:hover {
    color: blue;
}

.form2 {
    text-align: center;
    margin-top: 0;
    padding-top: 70px;
}

.addQuestion {
    margin: auto;
    /* margin-left: 90px; */
    width: 40%;
    height: 620px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

label {
    font-size: 14px;
}

.addTestAnswer {
    font-size: 15px;
    width: 100%;
}

option {
    font-size: 15px;
}

.confirm-box {
    background: white;
}

#modalBody {
    font-weight: 100;
}

.col-md-3,
.col-md-2,
.col-md-1 {
    padding-left: 0;
    width: 10%;
    padding-top: 10px;
}
.form2 input[type="file"],.form1 input[type="file"]{
    height: 30px;
    font-size: 20px;
}