li {
    margin-left: 50px;
    font-weight: 500;
}

li:hover {
    background-color: black;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
}

.logo {
    height: 42px;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.container-1 button {
    display: block;
    margin: auto;
    font-weight: 600;
    margin-top: 30px;
}

.container-1 {
    margin-top: 6%;
    width: 55%;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(75, 54, 192, 0.8);
}

button {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
}

.container-1:hover {
    transition-duration: 0.2s;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); */
    border-left: 6px solid rgba(75, 54, 192, 0.8);
}

body {
    background-color: #DAE0E6;
    overflow: hidden;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.display-4 {
    margin-top: 80px;
    margin-left: 18%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
}

.edit-div-btn button {
    display: inline;
}

.edit-div-btn {
    margin-left: 37%;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 60%;
    border-radius: 4px;
}

.edit-details {
    margin-left: auto;
    margin-right: auto;
    height: 590px;
    margin-top: 0.5%;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    display: none;
    border-left: 2px solid rgba(75, 54, 192, 0.8);
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-details input {
    display: block;
    padding: 8px 12px;
    margin-top: 40px;
    margin-left: 14%;
    width: 70%;
}

.options-div {
    padding-bottom: 100px;
}

 ::placeholder {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}

#span {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.9);
}

.edit-text {
    font-size: 24px;
    margin-left: 14%;
    font-weight: 100;
}