       li {
           margin-left: 50px;
           font-weight: 500;
       }
       
       li:hover {
           background-color: #c4e3f3;
           border-radius: 6px;
           transition-duration: 0.8s;
           color: white;
       }
       
       a:hover {
           color: blue;
       }
       
       .nav-link:hover {
           color: blue;
       }
       /* .navbar-ligh .navbar-nav .nav-link {
            color: white;
        } */
       
       .performance-table {
           border: 2px solid black;
       }
       
       table {
           margin-top: 50px;
       }
       
       body {
           background-color: #DAE0E6;
       }
       
       h2 {
           margin-top: 40px;
       }