       li {
           margin-left: 50px;
           font-weight: 500;
       }
       
       .logo {
           height: 42px;
       }
       /* li:hover {

           background-color: #c4e3f3;
           border-radius: 6px;
           transition-duration: 0.8s;
           color: white;
       } */
       
       .main {
           margin-top: 7%;
       }
       
       a:hover {
           color: rgba(255, 255, 255, 0.8);
           cursor: pointer;
       }
       
       #span {
           font-weight: 200;
           color: rgba(255, 255, 255, 0.9);
       }
       
       a:hover {
           color: blue;
       }
       
       .nav-link:hover {
           color: blue;
       }
       /* .navbar-ligh .navbar-nav .nav-link {
            color: white;
        } */
       
       .performance-table {
           border: 1px solid black;
           width: 40%;
           font-weight: 400;
           border-top: 2px solid rgba(0, 0, 0, 0.5);
           /* margin-left: 9%; */
       }
       
       .student-detail-table {
           border-top: 10px solid black;
           margin-top: 30px;
           align-items: center;
       }
       
       .student-table-header {
           margin-top: 20px;
       }
       
       table {
           margin-top: 50px;
       }
       
       .table {
           margin-bottom: 0;
       }
       
       body {
           background-color: #ebebeb;
           overflow-x: hidden
       }
       
       h2 {
           margin-top: 40px;
           margin-left: 20%;
           align-self: auto;
       }
       
       .performance-text {
           margin-left: 27%;
       }
       
       .cursor {
           cursor: pointer;
       }
       
       .cursor:hover {
           background-color: rgba(255, 255, 255, 0.2);
           transition: 1s
       }
       
       #tcan {
           display: none;
       }
       
       table {
           text-align: center;
           vertical-align: middle;
       }
       
       .performance-table-1 {
           border-top: 2px solid rgba(0, 0, 0, 0.5);
           border: 2px solid rgba(0, 0, 0, 0.5);
           background-color: #ffffff;
       }
       
       .text-center {
           margin-left: 48%;
       }
       
       .btn {
           font-weight: 100;
       }