<!DOCTYPE html>
<html>
<head>
<title>Enter Test Key</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/accessKey.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: black;">
                <img src="cybergrouplogo.png" class="logo">
                <!-- <a class="navbar-brand" href="#">Online Test Portal</a> -->
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button> -->
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Educational Blog</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
                </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" style="color: white;" type="submit">Sign Up</button>
                </form> -->
                </div>
            </nav>
            <br><br>
                <div class="container flex">
                    <form>
                    <div class="inner-box">
                       <b>TEST KEY : </b> <input class="inputBox" type="text" placeholder="Enter Test Access Key">
                       <br><br>
                       <button type="button" class="btn btn-success startTest">Submit</button>
                    </div>
                   
                </form>
                </div>


</body>
</html>