<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="../css/addTest.css">
            <script type="text/javascript" src="../js/addTest.js"></script>
           
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Online Test Portal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ">
                    
                            <li class="nav-item">
                                    <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">Create Test</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">Show Test</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">Student Performance</a>
                                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                    </div>
                    </nav>
                    <div class="form1">
                            <form class="addQuestion">
                                <div class="form-group">
                                    <label for="addtestQuestion">Question</label>
                                    <input type="text" class="form-control" id="addtestQuestion" aria-describedby="emailHelp" placeholder="Enter question">
                                </div>
                                <div class="form-group">
                                    <label for="addtestOption1">Option 1</label>
                                    <input type="text" class="form-control" id="addtestOption1" placeholder="Enter option1">
                                </div>
                                <div class="form-group">
                                    <label for="addtestOption2">Option 2</label>
                                    <input type="text" class="form-control" id="addtestOption2" aria-describedby="emailHelp" placeholder="Enter option2">
                                </div>
                                <div class="form-group">
                                        <label for="addtestOption3">Option 3</label>
                                        <input type="text" class="form-control" id="addtestOption3" placeholder="Enter option3">
                                    </div>
                                    <div class="form-group">
                                        <label for="addtestOption4">Option 4</label>
                                        <input type="text" class="form-control" id="addtestOption4" aria-describedby="emailHelp" placeholder="Enter option4">
                                    </div>
                                    <div class="form-group">
                                            <label for="addtestAnswer">Answer</label>
                                            <input type="text" class="form-control" id="addtestAnswer" placeholder="Enter answer">
                                        </div>
                                        <div class="form-group">
                                            <label for="addtestWeightage">Weightage</label>
                                            <input type="text" class="form-control" id="addtestWeightage" aria-describedby="emailHelp" placeholder="Enter weightage">
                                        </div>
                                <button type="button" class="btn btn-primary" id="addtestbtn">Submit</button>
                            </form>
                        </div>
                              
                        <div class="choose">
                            <div>Choose File
                                <input type="file" multiple>
                            </div>
                        </div>

    </body>
</html>