<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/show-test.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
</head>

<body>
    <div class="container">
        <div class="row" id="testId">
            <div class="col-md-12 test-detail">
                <h2>exam details</h2>
                <div class="row heading">
                    <div class="col-md-3">
                        <h5>TEST NAME</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>TEST CODE</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>TEST TIME</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Test Start At </h5>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <script id="display-exam-detail" type="text/html">
        <div class="row content">
            <div class="col-md-3">
                <p>{{testName}}</p>
            </div>
            <div class="col-md-2">
                <p>{{testCode}}</p>
            </div>
            <div class="col-md-2">
                <p>{{testDuration}}</p>
            </div>
            <div class="col-md-2">
                <p>{{testDate}}</p>
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-info" id="view{{index}}" onclick="showQuestion(this.id)">View</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-primary" id="edit{{index}}">Edit</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-danger" id="delete{{index}}">Delete</button>
            </div>
        </div>
    </script>
    <div class="container" id="mainDiv">
        <div class="row">
            <div class="col-md-2" id="question-Index"></div>
            <div class="col-md-10" id="question-Display"></div>
        </div>
    </div>
    <script id="index-template" type="text/html">
        <a href="#{{index}}">Question-{{index}}</a>
    </script>
    <script id="question-template-body" type="text/html">
    <div class="row">
        <div class="col-md-12 question-div" id="{{index}}">
            <h3>Question-{{index}}</h3>
            <p>{{questionText}}</p>
            <ul>
                <li>{{options.option1}}</li>
                <li>{{options.option2}}</li>
                <li>{{options.option3}}</li>
                <li>{{options.option4}}</li>
            </ul>
            <h6>Answer : {{answer}} </h6>
            <div class="btn1">
                <button type="button" class="btn btn-outline-info" onclick="abc()">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>       
    </script>
    <script src="../public/js/showQuestions.js"></script>
    <script src="../public/js/showTest.js"></script>
</body>

</html>