<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body background="thumb-1920-486292.jpg">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: black;">
        <img src="cybergrouplogo.png" class="logo">
        <!-- <a class="navbar-brand" href="#">Online Test Portal</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Educational Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" style="color: white;" type="submit">Sign Up</button>
            </form>
        </div>
    </nav>
    <div class="container" style="padding: 20px;">
        
            <h1 class="data">Change the way <br>you Learn</h1>
            <button id="signUp" class="btn btn-success my-2 my-sm-0" style="color: white;padding: 20px;" type="submit">Sign Up<a href="signUp.html"></a></button>
            <button id="Login" class="btn btn-success my-2 my-sm-0" style="color: white;padding: 20px;" type="submit">Login</button>
    </div>
</body>

</html>