<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="signUp.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>


  <img src="cybergrouplogo.png" class="logo">
  &nbsp;
  <!-- <div class="jumbotron jumbotron-fluid"> -->
  <div class="container flex ">
    <div class="flex-1">
    <form class="modal-content">
      <h1>SignUp Portal</h1>

      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="firstName"><b>First Name</b></label>
      <input type="text" id="firstName" class="form-control" placeholder="Enter first name" required autofocus>
      <label for="lastName"><b>Last Name</b></label>
      <input type="text" id="lastName" class="form-control" placeholder="Enter last name" required autofocus>
      <label for="email"><b>Email</b></label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="password"><b>Password</b></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="password"><b>Confirm Password</b></label>
      <input type="password" id="inputPassword1" class="form-control" placeholder="Confirm Password" required>
    </form>
    </div>
    <div class="flex-2">
        <img src="images.jpg" class="display-image">
    </div>
  </div>

  <!-- </div> -->


</body>

</html>