<!Doctype html>

<head>
    <title>Performance of Student</title>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
        <link rel="stylesheet" href="../public/css/viewPerformance.css">
    </head>

    <body onload="showStudents()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Online Test Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Educational Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Test Collections</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div class="main">
            <h2 class="container display-4">Performance of Students : </h2>
            <table class="container table table-dark performance-table" id="tbdy">
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Test Code</th>
                    <th>Attempted</th>
                    <th>Correct</th>
                    <th>Unattempted</th>
                    <th>Total Score</th>
                    <th>Percentage</th>
                </tr>
            </table>
            <!-- data in the Table -->
            <script id='view-student-performance' type="text/html">

                <tr id="details">
                    <td class="table-student-id" id="student-id">{{id}}</td>
                    <td class="table-student-name" id="student-name">{{name}}</td>
                    <td class="table-test-id" id="test-id">{{examCode}}</td>
                    <td class="table-attempted" id="attempted">{{attempted}}</td>
                    <td class="table-correct" id="correct">{{correct}}</td>
                    <td class="table-unattempted" id="unattempted">{{unattempted}}</td>
                    <td class="table-total-score" id="total-score">{{totalScore}}</td>
                    <td class="table-percentage" id="percentage">{{percentage}}</td>
                </tr>
            </script>
            <script src="../public/js/viewPerformance.js"></script>

            <!-- data in the Table -->

        </div>

    </body>
</head>

</html>]