.button1{
    display: none;
    background-color: black;
    padding: 75px;
    
    margin: 0px;
    color: yellow;
}
/* table :hover{
    background-color:rgb(61, 77, 67);
} */

#reset1{
    display: none;
}

.class1{
   background-size: cover;
    margin: 100px;
    height: 400px;

}
td{
    padding: none;
}

body{
    background-color:blanchedalmond;
    padding-left: 200px;
    /* margin-right: 30px; */
}
.reset{
    float: right;
    padding: 5px;
    
}
