li {
    margin-left: 50px;
    font-weight: 500;
}

li:hover {
    background-color: #c4e3f3;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
}

a:hover {
    color: blue;
}

.nav-link:hover {
    color: blue;
}

#marginfromtop {
    width: 40%;
    margin-top: 20%;
}

pre {
    font-weight: bold;
}

li {
    margin-left: 50px;
    font-weight: 500;
}

li:hover {
    background-color: black;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    font-size: 20px;
}

.logo {
    height: 50px;
}

.flex {
    margin-top: 50px;
    border-radius: 6px;
    display: block;
    display: flex;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 30%;
}

.flex-1 {
    flex: 2;
    margin-top: 30px;
}


/* .flex-2{
         border-left: 4px solid black;
      } */

.display-image {
    width: 102.5%;
    height: 100%;
}

body {
    background-color: #ebebeb;
}


/* *{
          margin:0px;
      } */

.container {
    margin-top: 6%;
}

.jumbotron {
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.option-div-flex {
    flex: 1;
    margin: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    padding: 20px 12px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid black;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.option-div-flex:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-top: 2px solid #3f51b5;
    /* background: #77e474; */
    transition: 0.6s;
}

.btn {
    font-weight: 100;
}

tbody td {
    font-weight: 100;
    vertical-align: middle;
}

thead th {
    font-weight: 500;
}

.jumbotron {
    padding-bottom: 20px;
}

.h6 {
    font-weight: 100;
    font-size: 24px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.table th {
    vertical-align: middle !important;
}

i {
    font-size: 48px;
}

.option-div-flex:hover i {
    color: #3f51b5;
    transition: 0.6s;
}

.options-div {
    margin-top: 12%;
    padding-bottom: 100px;
    display: flex;
}

.option-div-flex span {
    font-size: 18px;
    width: 100%;
    display: block;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 30px;
    font-weight: 300;
}

.option-div-flex button {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 80px;
}

.flex-1 {
    flex: 2;
}

.show-examiner-table {
    margin-top: 8%;
}