li {
    margin-left: 50px;
    font-weight: 500;
    }
    li:hover {
    background-color: #c4e3f3;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
    }
     a:hover {
    color: blue;
    }
    
    .nav-link:hover {
    color: blue;
    }
    .container
    {
        width:50%;
        
    }
    #marginfromtop
    {
      
       margin-top:19%; 
       margin-left:32%;
       
    }
    pre{
        font-weight:bold;
    }
    

    li {
        margin-left: 50px;
        font-weight: 500;
        }
        
        li:hover {
        background-color: black;
        border-radius: 6px;
        transition-duration: 0.8s;
        color: white;
        }
        
        a:hover {
        color:rgba(255, 255, 255, 0.8);
        }
        .nav-link{
            color: rgba(255, 255, 255, 0.8);
        }
        .nav-link:hover {
        color: rgba(255, 255, 255, 0.5);
        }
    
     .modal-content {
        background-color:white;
        margin: 5% auto 15% auto; 
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        width: 80%; 
        font-size: 20px;
      } 
      .logo{
      
        height: 50px;
          
      }
      .flex{
          margin-top: 50px;
          border-radius: 6px;
          display: block;
          display: flex;
          background-color: white;
          margin:auto;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          width: 30%;
      }
      .flex-1{
          flex: 2;
         margin-top: 30px;
      }
     
      /* .flex-2{
         border-left: 4px solid black;
      } */
      .display-image{
          width: 102.5%;
          height: 100%;
      }
      body{
          
          background-color: #ebebeb;
          
          
    
      }
      /* *{
          margin:0px;
      } */
      form :nth-child(1)
      {
          color: #555555;
      }
      .container
      {
          margin-top:6%;
          
      }
      .jumbotron
      {
         padding-top:5%; 
           background-color: white;
           box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
           

      }
      .baner
      {
          margin-top:10%;
          margin-left:18%;
         
      }
      #x
      {
        height:40%;
        width:40%;
       
       
      }
      #xx
      {
        height:35%;
        width:35%;
        font-size: 20;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2)
       
       
      }
     