li {
    margin-left: 50px;
    font-weight: 500;
}

li:hover {
    background-color: black;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 80%;
    font-size: 16px;
}

.logo {
    height: 50px;
}

.flex {
    margin-top: 50px;
    border-radius: 6px;
    display: block;
    display: flex;
    background-color: white;
    margin: auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
}

.flex-1 {
    flex: 2;
    margin-top: 30px;
}

.btn,
#signUpSubmit {
    font-weight: 100;
}


/* .flex-2{
     border-left: 4px solid black;
  } */

.display-image {
    width: 110.5%;
    height: 100%;
}

body {
    background-color: #ebebeb;
}


/* *{
      margin:0px;
  } */

form :nth-child(1) {
    color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-weight: 100;
}

.modal-content p {
    font-weight: 100;
}

label {
    font-weight: 400;
}