.username-text{
    margin-right: 10px;
}

.card{
    -webkit-box-shadow: 0px 0px 19px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 19px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 19px 0px rgba(138,138,138,1);
}

.card h3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card p{
    margin-bottom: 0px !important;
}

.button-group{
    float: right;
    position: relative;
}

.endTest{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.end{
    float: right;
    margin-top: 1em;
    margin-right: 10px;
}

.time{
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    background-color: red;
}

.question{
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    background-color: green;
}

.test{
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    background-color: blue;
}

.showTime, .showQuestion, .showTest{
    float: right;
}

.form-check{
    margin-top: 4px;
    padding-left: 0!important;
}

@media(max-width: 768px){
    .card{
        margin-top: 15px;
    }
}

#options{
    padding-bottom: 14px;
}

.optionBox{
    margin-top: 10px;
    margin-left: 4px;
}
.optionBox label{
    display:block;
}

#showTime{
    float:right;
}
