.digits:hover{
color: aqua;
}
.table{
    background-color: #000000;
        height: 300px;
        width: 100px;
        border-radius: 20px;
        position: relative;
        top: 100px;
        left: 300px;
        padding:8px;
        

}
.digits{
    background-color:rgb(73, 70, 70);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: white;
    size: 2px;
    align-items: centre;
    padding: 4px;
}
.operator{
    background-color: rgb(255, 136, 0);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    size: 2px;
    color: white;
}
.result{
    background-color: rgb(187, 175, 175);
    border-radius: 16px;
    padding: 1px;

}
.pop:hover{
background-color: blueviolet
}
.operator:hover{
    color: aqua;
}