<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../public/css/examDetails.css">
        <script type="text/javascript" src="../public/js/examDetails.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
        <script src="https://unpkg.com/bs-stepper/dist/js/bs-stepper.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    </head>
    <body>
        <!-- MultiStep Form -->
    <div class="container">
  
    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1"  class="btn btn-primary btn-circle" >1</a>
            <p>Exam Details</p>
          </div>
          <div class="stepwizard-step">
              <a href="#step-2"  class="btn btn-default btn-circle" disabled="disabled">2</a>
              <p>Step 3</p>
            </div>
          <div class="stepwizard-step">
            <a href="#step-3"  class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Add Questions</p>
          </div>
        </div>
      </div>
      <form role="form" class="form-test">
        <div class="row setup-content" id="step-1">
          <div class="col-xs-6 col-md-offset-3 form-test1">
            <div class="col-md-12 ">
              <!-- <h3> Step 1</h3> -->
              <div class="form-group">
                <label class="control-label">Exam Name</label>
                <input  maxlength="100" type="text" class="form-control" placeholder="Enter Test Name" id="addExamName" />
              </div>
              <div class="form-group">
                <label class="control-label">Exam Code</label>
                <input maxlength="100" type="text" class="form-control" placeholder="Enter Test Code" id="addExamCode"/>
              </div>
              <div class="form-group">
                <label class="control-label">Exam Duration(in minutes)</label>
                <input  maxlength="100" type="text" class="form-control" placeholder="Enter Test Duration" id="addExamDuration" />
              </div>
              <div class="form-group">
                <label class="control-label">Test Date</label>
                <input type="datetime-local" name="bdaytime" id="addExamTestDate">
              </div>
              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" id="btnSave">Next</button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-6 col-md-offset-3">
              <div class="col-md-12">
                <!-- <h3> Step 2</h3> -->
                <div class="file-field">
                      <div class="btn btn-primary btn-sm float-left">
                        <span>Choose file</span>
                        <input type="file">
                      </div>
                      <div class="file-path-wrapper float-right">
                        <input class="file-path validate" type="text" placeholder="Upload your file" style="margin-left: 40px;">
                      </div>
                    </div>
                    <button class="btn btn-success btn-lg pull-right" type="button" style="margin-top: 80px;">Submit </button>
                    &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" style="margin-top: 80px;" >Next</button>
              </div>
            </div>
          </div> 
        <div class="row setup-content" id="step-3">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12" id="question">
              <!-- <h3> Step 3</h3> -->
              <div class="form-group">
                <label class="control-label">Question</label>
                <input  maxlength="100" type="text" id="addtestQuestion" class="form-control" placeholder="Enter Question"  />
              </div>
              
                <div class="form-group">
                    <label class="control-label">Image</label>
                <input type="file" name="filename" accept="image/gif, image/jpeg, image/png" id="myImage">
              </div>
              <div id="radiobtn">
                <label><input type="radio" name="colorRadio" value="green" id="colorRadio1" > Single Option</label>
                <label><input type="radio" name="colorRadio" value="red" id="colorRadio"> Multiple Option</label>
            </div>
            
            <div class="red box" id="redbox">
                  <div class="form-group">
                        <label class="control-label">Option1</label>
                        <input type="checkbox" name="option" value="option1" class="form-checkbox" id="addtestAnswer">
                        <input maxlength="100" type="text" id="addtestOption1" class="form-control" placeholder="Enter Option1" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Option2</label>
                        <input type="checkbox" name="option" value="option2" class="form-checkbox" id="addtestAnswer">
                        <input  maxlength="100" type="text" id="addtestOption2" class="form-control" placeholder="Enter Option2"  />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Option3</label>
                        <input type="checkbox" name="option" value="option3" class="form-checkbox" id="addtestAnswer">
                        <input maxlength="100" type="text" id="addtestOption3" class="form-control" placeholder="Enter Option3" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Option4</label>
                        <input type="checkbox" name="option" value="option4" class="form-checkbox" id="addtestAnswer">
                        <input maxlength="100" type="text" id="addtestOption4" class="form-control" placeholder="Enter Option4" />
                      </div>
                      
            </div>
            <div class="green box" id="greenbox">
                <div class="form-group">
                      <label class="control-label">Option1</label>
                      <input type="radio" name="option1" value="option1" class="form-checkbox" id="addtestAnswer1">
                      <input maxlength="100" type="text" id="addtestOption1G" class="form-control" placeholder="Enter Option1" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Option2</label>
                      <input type="radio" name="option1" value="option2" class="form-checkbox" id="addtestAnswer1">
                      <input  maxlength="100" type="text" id="addtestOption2G" class="form-control" placeholder="Enter Option2"  />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Option3</label>
                      <input type="radio" name="option1" value="option3" class="form-checkbox" id="addtestAnswer1">
                      <input maxlength="100" type="text" id="addtestOption3G" class="form-control" placeholder="Enter Option3" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Option4</label>
                      <input type="radio" name="option1" value="option4" class="form-checkbox" id="addtestAnswer1">
                      <input maxlength="100" type="text" id="addtestOption4G" class="form-control" placeholder="Enter Option4" />
                    </div>
          </div>
              
              
              <div class="form-group">
                <label class="control-label">Weightage</label>
                <input maxlength="100" type="text" id="addtestWeightage" class="form-control" placeholder="Enter Weightage" />
              </div>
              <button class="btn btn-success btn-lg pull-right " type="button" id="submitBtn">Submit  Question</button>
              
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </form>

    </body>
</html>