body{
    background-color: #BFB8B8;
}

.heading-text{
    font-size: 30px;
    text-align: center;
    margin-bottom: -20px;
}
.calculator-card{
    margin-top: 40px !important;
    background-color: white;
    width:420px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.calculator-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FB6D0A;
    width:100%;
    height: 80px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.calculator-screen p{
    font-size: 20px;
    text-decoration: underline;
}

.result-screen{
    background-color: black;
    width: 74%;
    height: 68px;
    border-radius: 26px;
}

.calculator-buttons{
    padding: 10px 20px;
}

.button{
    border: none;
    padding: 28px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
    outline: 0;
    cursor: pointer;
    font-size: 20px;
    background-color: #EAE7E7;
}

.button-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: #CBCACA;
    color: white;
}

.color{
    background-color: #FB6D0A;
}
.color:hover{
    background-color: #E76A14;
}

.sign-button{
    padding: 30px;
}
