td
{
    text-align:center;
    border:1px solid black;
    font-weight:bold;
    background-color:yellow;
    color:white;
    border-radius: 30px;
    width:30;
    height:30;
}
td:hover {
    background-color:
  }
input{
    padding: 20px 28px;
    border:1px solid black;
}
table{
    border: 3px solid black;
    margin-top:170px;
    border-radius:20px;
   
}
.A
{
    background-color: #D4D6D2
}
.B
{
    background-color: #E19A00
}
.C
{
    background-color: #3B3B3A
}
.A:hover{
    background-color: #A9B1A0
}
.B:hover{
    background-color:#FFAE00;
}
.C:hover{
    background-color: #070600;
}