td
{
    text-align:center;
    border:1px solid black;
    font-weight:bold;
    background-color:yellow
    
}
td:hover {
    background-color: burlywood;
  }
input{
    padding: 20px 28px;
}
table{
    border: 3px solid black;
    margin-top:200px
}
