body{
    margin: 0;
    padding: 0;
}
ul{
    overflow: hidden;
    margin-top: 0px;
    background-color: white;
  }
  
  .btn {
    float: left;
    border: none;
    background-color: white;
  }
  .text {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight:790;
    font-family: Arial, Helvetica, sans-serif;
  }
  .head{
      color: white;
      padding: 50px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;

      
      
  }
  .main{
      
      background: url("pics/home-bg.1e271979b7c657dee1b0.jpg");
      text-align: center;
  }
  .head1{
    font-size: 40px; 
    color: white;
    padding: 9px;
    font-weight: 800;
  }
  .w-head{
      color: black;
      padding: 0px 80px;
      font-weight: 900px;
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      height: 20px;

  }
  .w-head1{
      color: black;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      padding: 0px 80px;
      width: 600px;
  }
  .head2{
      width: 600px;
      color: white;
      text-align: center;
      padding: 0px 350px;
      font-family: Arial, Helvetica, sans-serif;

  }
  .card{
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      text-align: center;
      width: 90%;
      margin: auto; 

  }
  .card1,
  .card2,
  .card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%; 
    margin: 15px;
    border-radius: 19px;
  }
  .contianer{
    padding: 2px 16px;
    width: 33%;
  }
  .buyb{
      background-color: orange;
      outline: none;
      height: 60px;
      width: 200px;
      border-radius: 5px;
  }
  .buy{
      width: 100%;
      display: flex;
      background: url("pics/home-bg.1e271979b7c657dee1b0.jpg");
      text-align: center;
  }
  .buybt{
      
      text-align: center;
      width: 30%;

  }
  .buy1{
      width: 60%;
  }
  .buyp1{
     font-size: 30px;
     color: white;
     font-weight: 800px;
     margin: 10px;

  }
  .buyp2{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;

  }
  .c-head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 30px;
      color: black;
    
      font-weight: 550;

  }
  .c-head1{
    font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: black;
 
  }
  .customer{
      width: 100%;
      text-align: center;   
  }
  .c-head0{
      width:70%;
      text-align: left;
      padding-left: 100px;
  }
  .nav1{
      position: fixed;
      width: 100%;
      margin: 0;
      background-color: #fff;
      top: 0;
  }
  .details{
	background-color: rgb(240, 240, 240);
}

.blocks{
	display: flex;
	text-align: center;
	height: 80px;
}

.blocks-submit-button{
	border: none;
	border-radius: 5px; 
	display: flex;
}
.text-content{
	outline: none;
	width: 100%;
	border: none;
	border-bottom:1px solid black;
	background-color: rgb(240, 240, 240);

}
.outer-email{
	margin-left: 40px;
	padding-top: 30px;
}
.fa fa-paper-plane{
    border-radius: 20px;
}
.cards-content {
	display: flex;
}
.cardn{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 28%;
	max-width: 100%;
	margin: 20px;
	background-color: #fff;
}
footer{
    background: black;
    display: flex;
}
.foot{
    width: 90%;
    background-color: black;
    display: flex;
    margin: auto;
}
.foot1{
    width: 50%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.foot1 hr, .foot2 hr,.foot3 hr{
    color: yellow;
    width: 100px;
    border: 1px solid;
    float: left;
}
.foot1 input{
    height: 35px;
    width: 95px;
    background: orange;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot2{
    width: 25%;
    color: #fff;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
    border: 2px solid black;
}
.foot2 i {
    color: yellow;
    font-size: 20px;
}
.foot3{
    width: 25%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.foot3 i{
    font-size: 25px;
    color: lightgray;
}
.face1
{
    width: 30%;
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    border-radius: 90px;
    padding: 10px;
}

.face2{
    width: 30%;
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    border-radius: 90px;
    padding: 10px;
}

.face3{
    width: 30%;
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    border-radius: 90px;
    padding: 10px;
}
}

}