body{
    margin: 0;  
    color: rgba(0, 0, 0,0.8);
}
.nav{
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    display: flex;
    padding-top: 25px;
   padding-bottom: 25px;
    box-shadow: 0.5px 0px 2px;
    
}
.left{
    flex: 70%;
    margin-top: -5px;
    justify-content: flex-start;

}
.right{
    flex: 10%;
    margin-top: 5px;
    justify-content: flex-end;
}
a{
    color: rgba(0, 0, 0,0.7);
    font-weight: 700;
    font-size: .875rem;
    text-decoration: none;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding-left: 10px;
   
}
.a1{
    padding-top: -10px; 
    padding-left: 40px;
}
.i1{
    height: 25px;
    

}
span{
    display: block;
}
.middle{
    width: 100%;
    box-sizing: border-box;
    height: 110%;
    background-color: rgba(28, 28, 255,0.7);

}
.mid{
    padding-top: 20px;
    text-align: center;

}
.s1{
    margin-top: 50px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgba(255, 255, 255,1);
    font-size: 22px;
}
.s2{
    margin-top: 30px;
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-size:48px;
    color:rgba(255, 255, 255,1);
    font-weight: 750;
    text-shadow: 1px 0px 5px rgb(41, 41, 41);
}
.s3{
    font-size: .875rem;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.btn{
    border: none;
    color: rgba(0,0,0,.87);
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    padding: 0 32px!important;
    font-size: 18px;
    line-height: 56px!important;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 50px;
}
.im{
    margin-top: 75px;
}
.mid2{
    display: flex;
    margin-top: 80px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.m0{
    flex: 10%;
}
.m11{
    flex: 80%;
}
.ss{
    text-shadow: 1px 0px 1px rgb(41, 41, 41);
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
}
.contents{
    margin-top: 60px;
    margin-left: 150px;
    
    
}

img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.c11{ 
    float: left;
    height: 510px;
    width: 302px;
   margin-left: 70px;
   box-shadow: 0px 0px 4px  rgba(0,0,0,0.2);
   transition: 0.3s;
 
    /* background-color: rgb(0, 0, 0); */
    border-radius: 4px;
    
}
h4,p{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.c11:hover{
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 2px 16px;
}
.hr1{
    border-top-color: rgba(0,0,0,.12);
    border-top-width: 1px;
    border-top-style: solid;
    
    
}
.bottom{
    width: 100%;
    height: 640px;
    background-color:rgba(0,0,0,.034);
    margin-top: 700px;
}
h2{
    font-size: 32px;
    font-weight: 700;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.bot{
    padding: 20px 46px;
}
.p1{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.tt{
   margin-left: -30px;
}
.d1{
    margin-left : 80px;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 700;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.d2{
    font-size: 16px;
    max-width: 36rem;
    font-weight: 400;
    margin-top: 30px;
}
.final{
    margin-top: 450px;
    width: 100%;
    height: 35%;
    background-color:rgba(28, 28, 255,0.7);
}
.fin1{
    padding: 90px 104px;
}
.f1{
    font-size: 1.75rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.f2{
    font-size: .875rem;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255);
}
.bt{
    position: absolute;
    margin-left: 800px;
    border-radius: 4px;
    margin-top: -50px;
    padding: 0 32px!important;
    font-size: 18px;
    line-height: 56px!important;
    font-weight: 400!important;
    border: none;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #ffc107;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}
.plan{
    padding: 50px 70px;
}
.choose{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
    font-family: Roboto,"Helvetica Neue",sans-serif;

}
.radio{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: .875rem;
    font-weight: 400;
}
#check{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    widows: 1px;
    outline: 0;
    -webkit-appearance: none;
}
.email{
    background-color: rgba(0,0,0,.034);
    padding: 50px 70px;
}
.e1{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.e2{
    font-size: 16px;
    max-width: 36rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;

    
}
.if{
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    vertical-align: bottom;
    caret-color: #f44336;
    border: none;
    padding: 15px 0px;
    background-color: inherit;
    line-height: 1.125;
    border-bottom: 1px solid black;
}
.footer{
    display: flex;
    background-color: #212121;
}
.g1{
    flex:40%;
    padding: 40px 40px;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}

.v{
    font-size: .875rem;
    margin-top: 20px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}
.footb{
    background-color: #ffc107;
    cursor: pointer;
    font-weight: 400!important;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 36px;
    min-width: 64px;
    border-radius: 4px;
    padding: 0 16px;
    margin-top: 20px;
    border: none;
}
.social-media i{
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    
    color: rgba(255,255,255,0.4);
}
.g2{
    
    flex: 27%;
}
.v1{
   
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgb(255, 255, 255,0.9);
}
.services-div{
    font-size: 1.5rem;
    font-weight: 300!important;
    margin-top: 30px;
}
.services-div2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}
.services{
    border-top:2px solid black;
}
.services:hover{
    border-top: 2px solid #3f51b5;
}
.services:hover i{
    color: #3f51b5;
}
.choosee{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    align-items: center;
    
    margin-top: 20px;    
}
.choose-1{
   
    flex: 24%;
    text-align: center;
    margin: 8px;
    border-radius: 4px;
    height: 520px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.choose-blur{
    height: 12%;
    width: 100%;
    background-color: rgba(0,0,0,.044);
    padding-top: 24px;
    font-weight: 700;
}
.choose-option-1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 10px;
}
.choose-option-2{
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
}
.choose-1 button{
    background-color: #ffc107;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400!important;
    font-size: 14px;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    color: #000;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.choose-1:hover{
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}