*{
    margin: 0;
    padding: 0;
}

.navigation-bar{
    overflow: hidden;
    padding: 0px 20px 20px 7px;
}

.navigation-bar a{
    float: left;
    display: block;
    text-decoration:none;
    padding: 13px 11px;
    text-align: center;
    font-size: 17px;
    color: black;
}
.navigation-bar .icon{
    display: none;
}

.navigation-bar a:nth-last-child(2){
    float:right;
}

.navigation-bar a:hover{
    color: #857D77;
    border-bottom: 1px solid #857D77;
}

.second-box{
    background-color: #475FE5;
    height: auto;
}

.text-box-container{
    text-align: center;
    color: white;
}

.text-box-container p:first-child{
    font-size: 22px;
    padding: 20px;
}

.text-box-container p:nth-child(2){
    font-size: 48px;
    font-weight: 900;
}

.text-box-container p:last-child{
    max-width: 570px;
    margin: 0 auto 24px;
    padding: 20px;
    font-size: 15px;
}

.second-box .text-box-container img {
    width: 650px;
    display: block;
    margin: 0 auto;
    padding: 100px 0px 0px 0px;
}

.buy-button{
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.third-box{ padding: 80px 80px 20px 80px; }
.third-box-1{
    font-size: 27px;
    font-weight: 700;
}

.third-box-2{
    margin-top: 12px;
    font-size: 22px;
    max-width: 40rem;
    font-family: 'Roboto', sans-serif;
}

.card-container{ padding: 50px 90px; }
.card{
    width: 32%;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
}

.card:hover{
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
}
.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-body{ padding: 16px 12px; }
.card-footer{ padding: 0px 0px 15px 15px; }

.card-footer i{ 
    font-size: 26px;
    cursor: pointer;
}

.card-body p{
    padding-bottom: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid grey;
}

.customer-box{
    padding: 0px 40px 20px;
    background: rgba(0,0,0,.024);
}

.customer-card img{ padding:14px 0px 17px 22px; }

.customer-box h3{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 32px;
    padding: 20px 0px;
}

.customer-box p{
    padding: 0px 255px 0px 26px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans -serif;
}

.customer-card-container{ 
    padding: 40px 30px;
    background: rgba(0,0,0,.024);
    overflow: hidden;
 }
.sep-margin{
    margin-left: 10px;
    margin-right: 10px;
}
.customer-card{ 
    display: inline-block; 
    width: 32%;
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
}
.customer-card:hover, .service-card:hover{
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
}

.cust-card-body{
    font-size: 20px;
    text-align: justify;
    padding: 22px 20px;
}

.customer-card-footer img{
    height: 70px;
    width: 70px;
}
.designation{
    display:block!important;
    position: relative;
    left: 97px;
    font-size: 16px!important;
    color: grey; 
}
.customer-card-footer p{
    display: inline-block;
    position: relative;
    bottom: 60px;
    font-size: 20px;
}
.service-box{ padding: 0px 40px 20px; }
.service-box h3{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 0px;
}

.service-box p{ 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0px 150px 0px 26px;
}
.service-card-container{ padding: 40px 80px; }

.service-card{
    display:inline-block;
    width: 31%;
    text-align: center;
    background-color: white;
    padding: 40px 4px;
    border-radius: 5px;
    border-top: 3px solid black;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
     box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.75);
}

.service-card:hover{
    border-top: 3px solid blue;
}
.service-card:hover i{
    color:blue;
}
.service-card p{
    padding: 0px 16px 0px 26px;
    font-size: 20px;
} 

.service-card i{ font-size: 80px; }

.service-card-footer{
    text-align: left;
    padding: 26px 0px 0px 0px;
}

.service-card-footer p:hover{
    background: rgba(0,0,0,.024); 
}

.fourth-box{
    padding: 75px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    color: white;
}

.fourth-col1 p:first-child{
    font-family: 'Lato';
    font-size: 1.75rem;
    font-weight: 300;
}

.fourth-col1 p:last-child{
    font-family: 'Lato';
    font-size: 18px;
    margin-top: 10px;
}

.fourth-col2 button{
    background-color: #FFC107;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
}

.send-us-box{
    background-color: #ECECEC;
    padding: 80px;
}
.send-us-heading{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
}

.send-us-text{
    font-size: 16px;
    margin: 0;
    color: grey;
}

.send-us-form{
    margin-top: 50px;
}
.send-us-form input{
    width: 100%;
    border: none;
    padding: 15px 0px;
    outline: none;
    background-color: #ECECEC;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-size: 14
}
.send-us-form input:focus{
    border-bottom: 2px solid blue;
}

.send-us-form button{
    border: none;
    padding: 14px 14px;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
}
.send-us-form button i{ color: #ECECEC; }

.footer-box{
    padding: 30px 100px;
    color: white;
    background-color: #212121;
    display: flex;
} 

.about-us h3, .disclaimer h3,.contact h3{
    font-family:'Lato';
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.1;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color:#FFC107;
}

.about-us p{
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 15px;
}

.about-us button{
    cursor: pointer;
    border: none;
    white-space: nowrap;
    text-align: center;
    line-height: 36px;
    font-weight: 400!important;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 0px 5px;
    background-color: #FFC107;
    border-radius: 4px;
    margin-top: 15px;
}

.email-contact-box, .address-contact-box{
    padding: 40px 15px;
    display: flex;
}

.email-contact-text, .address-contact-text{
    margin-left: 8px;
}

.email-contact-box i{ 
    font-size: 30px;
    margin-top: 5px;
}

.address-contact-box i{
    font-size: 30px;
    margin-top: 15px;
}

.disclaimer{ padding: 0px 100px;}
.disclaimer p{ margin-top: 30px;}
.social-icons{ margin-top: 30px; }

.social-icons i{ font-size: 35px; 
    margin-right: 20px;
    cursor: pointer;
}

.plan-box{ padding: 70px 80px; }
.plan-box h3{
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 700;
}
.plan-box-text{
    margin-top:30px;
    font-family: 'Roboto';
    font-size: 17px;
}

.plan-box-card{
    margin-top: 15px;
    display: inline-block;
    width: 23%;
    text-align: center;
    padding: 60px 0;
    font-family: 'Roboto';
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}
.plan-box-card:nth-child(2){
    margin-right: 5px;
    margin-left: 5px; 
}
.plan-box-card:nth-child(3){
    margin-right: 5px;
}

.plan-card-heading{
    padding:10px 0px;
    background-color: #F4EAEA;
}

.plan-card-heading p:first-child{
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 5px;
}

.plan-card-heading p:last-child{
    color: grey;
    font-size: 14px;
}

.plan-box-content p:not(:first-child){
    margin-bottom: 20px;
}
.bold{
    font-weight: 900;
    font-size: 19px;
    margin: 10px 0px 20px 0px;
}

.choose-button{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FFC107;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

@media(max-width:992px){
    .card-container{ padding:50px 13px; }
    .card-body p{ font-size: 12px;}
    .third-box{ padding: 35px 26px 35px 26px}
    .third-box-1{ font-size:35px;}
    .third-box-2{ max-width: 53rem; }
    .service-card-container{ padding: 40px 15px;}
    .service-box{ padding: 0px 15px 20px}
    .fourth-box{ display: block; text-align: center}
    .fourth-col2 button{ margin-top: 18px; }
    .fourth-col1 p:first-child, .send-us-heading{ font-size: 2.15rem}
    .fourth-col1 p:last-child, .send-us-text{ font-size: 21px;}
    .footer-box{ display: block;}
    .about-us h3{ font-size: 28px;}
    .about-us p{ font-size: 19px;}
    .about-us button{ 
        font-size:20px; 
        padding: 7px 12px;
        margin-top: 25px;
    }
    .contact h3{ font-size: 28px; margin-top: 50px;}
    .email-contact-box, .address-contact-box{ padding: 40px 40px;}
    .disclaimer{ padding: 28}
    .disclaimer p{ font-size: 21px;}
    .plan-box-card{width: 47%}
}

@media(max-width:768px){
    .navigation-bar a:not(:first-child){display: none; }
    .navigation-bar.responsive{ position: relative; }
    .navigation-bar a.icon{
        float:right;
        display:block;
    }
    .navigation-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    .navigation-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .text-box-container img{
        height: 50vh;
        width: 70vw!important;
        padding: 50px 0px 0px 0px!important;
    }
    .customer-card-container{ padding: 40px 20px;}
    .service-card,.customer-card{ width: 100%; margin-bottom: 20px; }
    .sep-margin{ margin: 0px 0px 20px 0px;}
    .footer-box{ padding: 30px 45px}
}

@media(max-width:600px){
    .text-box-container img{ height: 40vh; }
    .third-box{ padding:80px 40px 20px 40px;}
    .card{ width: 100%; margin-bottom: 20px; }
    .card-container{ padding: 0px 60px; }
    .card-body p{ font-size: 17px; }
    .card-body h3{ font-size: 22px; }
    .customer-box p{ padding: 0px 0px 0px 20px;}
    .service-box p{padding:0px 26px 0 26px;}
    .plan-box-card{width: 100%; margin-bottom: 10px;}
    .plan-box-card:nth-child(2){
        margin: 0;
    }
}