*{
    margin: 0;
    padding: 0;
}
/*.second-box{
    background-color: blue;
    text-align: center;
    padding: 10px 0px;
    height: 540px;
}

.first-text{
    font-size: 22px;
    font-weight: 400;
    color: white;
}

.second-text{
    font-size: 48px;
    font-weight: 900;
    line-height: 54px;
    margin: 0!important;
    color: white;
}
.third-text{
    padding-top: 20px;
    font-size: 15px;
    color: white;
    margin-bottom: 3px;
}

.fourth-text{
    color: white;
    margin: 0px !important;
}

.buy-button{
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cart-size{
    font-size: 18px!important;
}

.second-box img {
    width: 650px;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}

.container{
    padding: 0px 60px;
} */

.navigation-bar{
    overflow: hidden;
    padding: 0px 20px 20px 20px;
}

.navigation-bar a{
    float: left;
    display: block;
    text-decoration:none;
    padding: 13px 16px;
    text-align: center;
    font-size: 17px;
    color: black;
}
.navigation-bar .icon{
    display: none;
}

.navigation-bar a:nth-last-child(2){
    float:right;
}

.navigation-bar a:hover{
    color: #857D77;
    border-bottom: 1px solid #857D77;
}

.second-box{
    background-color: #475FE5;
    height: auto;
}

.text-box-container{
    text-align: center;
    color: white;
}

.text-box-container p:first-child{
    font-size: 22px;
    padding: 20px;
}

.text-box-container p:nth-child(2){
    font-size: 48px;
    font-weight: 900;
}

.text-box-container p:last-child{
    max-width: 570px;
    margin: 0 auto 24px;
    padding: 20px;
    font-size: 15px;
}

@media (max-width: 782px){
    .navigation-bar a{
        padding: 13px 11px;
    }
}

@media (max-width: 600px){
   .navigation-bar a:not(:first-child){
       display:none;
   }

   .navigation-bar a.icon{
       float: right;
       display:block;
   }

   .navigation-bar.responsive{
       position: relative;
   }

   .navigation-bar.responsive a.icon{
       position: absolute;
       right: 20px;
       top: 0;
   }

   .navigation-bar.responsive a{
       float: none;
       display: block;
       text-align: left;
   }
}
