body{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: black;
    color: white;
    line-height: 70px;
    height: 70px;
}

.menu{
    margin: 0 30px 0 0;
}
.menu a{
    text-decoration: none;
    font-size : 20px;
    color:white;
    margin: 2px;
}
.menu select {
    background: transparent;
    color: white;
    font-size: 20px;
    border: 0;
    outline: none;
}
.menu option{
    background-color:black;
    font-size: 20px;
}
.menu input{
    float: right;
    font-size: 15px;
    margin-top: 10px;
}
.menu input[type="text"]{
    height: 30px;
    outline: none;
    text-align: center;
}
.menu input[type="submit"]{
    height: 36px;
    outline: none;
    text-align: center;
    /* margin-right: 5px;
    margin-left: 2px; */
    border-width: 1px;
    border-color: lightgreen;
    color: lightgreen;
    background-color:black;
}
label{
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    float: right;
    display: none;
}
#toggle{
    display: none;
}
.mid{
    width: 100%;
    background-color:lightgrey;
}
.content{
    width: 80%;
    margin: auto;
}
.content input{
    height: 40px;
    width: 100px;
    outline: none;
    background-color:darkblue;
    border: 1px;
    border-radius: 2px;
    padding: 5px;
}
.lzt{
    display: flex;
    width: 80%;
    margin: auto;
    border-bottom: 1px;
}
.lzt .content input{
    background-color: black;
    color: white;
}
hr{
    width: 80%;
    margin: auto;
}
@media screen and (max-width:600px){
    /* display hambuger after this max width */
    label{
        display: block;
        cursor: pointer;
    }
    /* hide menu bar */
    .menu{
        display: none;
        text-align: center;
        width: 100%;
    }
    /* display menu bar in block */
    .menu a{
        display: block;
        color: white;
       background-color:black;
       z-index: 3px;
    }
    .menu input{
        display: block;
        width: 100%;
    }
    .menu a:hover{
        background-color:blue;
    }
    /* display menu bar on ckeck */
    #toggle:checked + .menu{
        display: block;
        background-color: black;
    }
    .mid{
        display: block;
        text-align: center;
    }
    .lzt{
        display: block;
    }
    .content{
        width: 100%;
        text-align: center;
    }
    
}