.a:hover{
    box-shadow: 1px 0px 10px;
    transition-duration: 0.4s;
    
}
.a{
    border: 1px solid whitesmoke;
}
input{
text-align: center;
font-size: 20px;
border-radius: 4px;
border: none;
box-shadow: 1px 0px 100px;
}
#inp1{
width: 20px;
}
.a{
margin:auto;
margin-top: 40px;
}
.b{
margin: auto;
border: 1px solid whitesmoke;
}
.s{

margin-left:140px;
font-size: 80px;
font-weight: 300;
-webkit-text-stroke: 1px black;
color: rgb(255, 158, 93);
text-shadow:
3px 3px 0 rgb(255, 255, 255),
-1px -1px 0 rgb(255, 255, 255),  
1px -1px 0 rgb(255, 255, 255),
-1px 1px 0 rgb(255, 255, 255),
1px 1px 0 rgb(255, 255, 255);
margin-top: -260px;
display: block;
font-family:fantasy

}
#myCanvas{
z-index: 0;
}
body{
z-index: 1;
}
button:hover{
background-color: rgba(255, 255, 255,0.7);

}
.win{
position: relative;
background-color: rgba(255, 255, 255,0.8);
height: 530px;
width: 60%;
left: 350px;
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 30px;
vertical-align: 20px;
padding-top: 80px;
margin-top: -145px;
display: none;


}
#p1{
font-size: 24px;
}
#p2{
position: relative;
margin-top: -40px;
left: 260px;
font-size: 24px;
padding-right: 10px;
}
#p1,#p2{
-webkit-text-stroke: 1px black;
color: rgb(76, 120, 202);
text-shadow:
3px 3px 0 rgb(255, 255, 255),
-1px -1px 0 rgb(255, 255, 255),  
1px -1px 0 rgb(255, 255, 255),
-1px 1px 0 rgb(255, 255, 255),
1px 1px 0 rgb(255, 255, 255);
box-shadow: none;
display: block;
font-family:fantasy;
}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9{
-webkit-text-stroke: 1px black;
color: rgb(0, 0, 0);
text-shadow:
3px 3px 0 rgb(255, 255, 255),
-1px -1px 0 rgb(255, 255, 255),  
1px -1px 0 rgb(255, 255, 255),
-1px 1px 0 rgb(255, 255, 255),
1px 1px 0 rgb(255, 255, 255);
box-shadow: none;
display: block;
font-family:fantasy;
font-size: 40px;
font-weight: 200;
}
.ii{
margin-top: -80px;
height: 120%;


}
.go{
z-index: 1;
color: aliceblue;
font-size: 40px;
position: absolute;
margin-top: -630px;
margin-left: -40px;
font-family: monospace;
}
.go2,.btnn{
z-index: 1;
color: aliceblue;
font-size: 40px;
position: absolute;
margin-top: -60px;
margin-left: -130px;
font-family: monospace;
}
.btnn{
height: 50px;
width: 15%;
font-size: 20px;
margin-left: 300px;
border-radius: 10px;
border:none;
color: rgb(255, 255, 255);
margin-top: -400px;
cursor: pointer;
}
body{
background-color: rgb(46, 17, 80)
}
